@import '@nebular/theme/styles/globals';
@import '@nebular/theme/styles/themes/corporate';
@import '@nebular/theme/styles/themes/cosmic';
@import '@nebular/theme/styles/themes/dark';
@import '@nebular/theme/styles/themes/default';
@import '@nebular/theme/styles/theming';

@include nb-install() {
  @include nb-theme-global();
};

html, body {

  height: 100%;
  overflow: hidden;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


nav.fixed {

  padding: 0px !important;
}
