<p-card class="destaque-card">

  <p-card-header>
    <h1 class="titulo-card">Novo Treino</h1>
  </p-card-header>

  <p-card-body>

    <app-train-config-select *ngIf="step === 1"></app-train-config-select>
    <app-train-config-properties *ngIf="step === 2"></app-train-config-properties>
    <app-train-config-checkout *ngIf="step === 3"></app-train-config-checkout>

  </p-card-body>

  <p-card-footer class="navigation-buttons" >
    <button (click)="previousStep()" [disabled]="step === 1">Voltar</button>
    <button (click)="nextStep()" [disabled]="step === 3">Próximo</button>
  </p-card-footer>

</p-card>
