# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
*/tmp/
*/out-tsc/
*/dist/

# dependencies
*/node_modules/

# System Files
*.DS_Store
*Thumbs.db
*.angular/

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# IDE - VSCode
*.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# IDEs and editors
.c9/
*.launch
*.sublime-workspace

# profiling files
chrome-profiler-events*.json

# Only exists if Bazel was run
/bazel-out
