<div fxFlexFill fxLayout="column" class="course-detail-full" >

  <div fxFlex="40" fxLayout="row" fxLayout.xs="column" fxFlex.xs="100" >
    <mat-card class="card-item" fxFlex="40" >

      <img class="course-card-img" mat-card-image src="{{ course?.imgSrc }}" alt="Photo of Course description">

    </mat-card>
    <mat-card class="card-item" fxFlex >

      <mat-card-header>
        <b>
          {{ course?.label }}
        </b>
      </mat-card-header>

      <mat-card-content class="course-card-content" fxLayout="column" >

        <div fxLayout="row" >
            <mat-icon>class</mat-icon>
            <p>
              {{ course?.status?.totalClasses }} aulas
            </p>
        </div>
        <div fxLayout="row" >
            <mat-icon>timer</mat-icon>
            <p>
              {{ course?.status?.totalHours }} horas
            </p>
        </div>

        <mat-chip-listbox #chipList [multiple]="false" >
          <mat-chip
            *ngFor="let tag of course?.tags"
            [removable]="false" >
            {{ tag }}
          </mat-chip>
        </mat-chip-listbox>

      </mat-card-content>

      <mat-divider inset></mat-divider>

      <mat-card-actions align="end" >

        <button mat-raised-button
              color="primary"
              *ngIf="!course?.signed"
              (click)="courseSignin(course)" >
            Inscrever-se
        </button>
        <button mat-raised-button
            color="primary"
            *ngIf="course?.signed"
            [routerLink]="['/user/me/courses/' + course.id]" >
          Continuar Curso
        </button>

      </mat-card-actions>

    </mat-card>
  </div>

  <mat-card class="card-item" fxFlexFill >

    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" fxFlexFill >
      <mat-tab label="Conteúdo" >

        <mat-list>
          <div mat-subheader>Aulas</div>
          <mat-list-item disableRipple="true" *ngFor="let leason of course?.leasons">

            <mat-icon mat-list-icon>play_circle</mat-icon>
            <div mat-line>
              {{ leason.title }}
            </div>
            <div mat-line>
              {{ leason.time }}
            </div>

          </mat-list-item>

        </mat-list>

      </mat-tab>
      <mat-tab label="Descrição" >

        <p style="padding: 16px;" >
          {{ course.description }}
        </p>

      </mat-tab>
    </mat-tab-group>

  </mat-card>
</div>
