.course-card-img {

  width: 100%;
}

.course-card-content {

  overflow-y: overlay;
  padding: inherit;
  margin-left: 16px;
  width: 100%;
}

.mat-list {
  overflow: auto;
}

.card-item {

  min-height: 150px;
}

.course-detail-full {

  // overflow: hidden;
}
