<p-card class="destaque-card">

  <p-card-header>
    <h1 class="titulo-associacao">Nome da Associação</h1>
  </p-card-header>

  <p-card-body>

    <p class="descricao-associacao">
      Esta é uma breve descrição sobre a associação. Algo que capture sua essência, missão e valores, em até 5 linhas. Pode ser algo relacionado aos eventos, atividades ou qualquer outro destaque relevante.
    </p>

    <div class="carrossel-container">
      <!-- Componente de carrossel integrado ao Instagram
      <app-instagram-carousel></app-instagram-carousel> -->
    </div>

  </p-card-body>

</p-card>
