
<!-- <table>
  <tbody id="body-table">
    
    <tr *ngFor = "let item of manobras">
      <th scope="row"><span>{{item.tipo}}</span></th>
      <td scope="row"><span>{{item.nome}}</span></td>
      <td scope="row"><span>{{item.descricao}}</span></td>
      <td scope="row"><button>abrir</button></td>
    </tr>
  </tbody>
</table> -->

<h4>manobras da semana</h4>

  <nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>
  <input type="text" nbInput placeholder="manobras"  id="inputManobras">



<div  style=" overflow-y: scroll;">
  <nb-card accent="info" *ngFor = "let item of manobrasPesquisar">
    <nb-card-header>{{item.nome}}</nb-card-header>
    <nb-card-body  >
{{item.descricao}}
    </nb-card-body>
    <nb-card-footer>{{item.tipo}}</nb-card-footer>
    <nb-card-footer>{{item.base}}</nb-card-footer>
    <button nbButton id="buttonAdicionar">adicionar</button>
   
  </nb-card>


</div>