<p-card class="destaque-card">

  <p-card-header>
    <h1 class="titulo-card">Bem-vindo ao Vamo Skate Dale</h1>
  </p-card-header>

  <p-card-body>

    <p class="descricao-card">
      Estamos felizes em tê-lo aqui! O Vamo Skate Dale reúne informações sobre eventos, atividades e tudo relacionado ao mundo do skate. Nosso objetivo é ajudar skatistas a gerar treinos baseados em manobras que eles já sabem ou desejam evoluir. Explore nosso site para saber mais sobre o que fazemos e como você pode se envolver.
    </p>

    <div class="carrossel-container">
      <!-- Componente de carrossel integrado ao Instagram
      <app-instagram-carousel></app-instagram-carousel> -->
    </div>

    <button pButton label="Explore Mais" icon="pi pi-arrow-right" class="explore-button"></button>

  </p-card-body>

</p-card>
