.course-card {

  margin: 20px;
}

.course-card-img {

  max-height: 150px;
  width: auto;
  padding: inherit;
}

.course-card-content {

  padding: inherit;
}

.course-card-footer {

  padding: inherit;
}

