<div
    fxLayout.xs="column" fxLayoutGap.xs="0"
    fxLayout="row wrap" fxLayoutGap="20px" >

  <mat-card *ngFor="let course of coursesList" class="course-card"
      fxFlex.xs="100%"
      fxFlex="calc(40% - 20px)" >

    <img class="course-card-img" mat-card-image src="{{ course.imgSrc }}" alt="Photo of couse description">
    <mat-card-header>
      <mat-card-title>

        {{ course.label }}

        <span class="example-spacer"></span>

        <mat-icon
            *ngIf="course.status?.completed"
            matTooltip="Curso finalizado! Viva!!!"
            color="accent"
            mat-card-avatar >

          celebration

        </mat-icon>

      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="course-card-content" fxLayout="column" >

      <span>
        {{ getClassesString(course) }}
      </span>

      <br/>

      <div>

        <mat-progress-bar mode="determinate" [value]="valorProgressBarCourse(course)"></mat-progress-bar>

        <span>{{ course.status?.watchedHours + ' de ' + course.status?.totalHours }} horas </span>

      </div>

    </mat-card-content>
    <mat-card-footer>

    </mat-card-footer>

  </mat-card>

</div>
