<div
    fxLayout.xs="column" fxLayoutGap.xs="0"
    fxLayout="row wrap" fxLayoutGap="20px" >

  <mat-card *ngFor="let course of coursesList" class="course-card"
      fxFlex.xs="100%"
      fxFlex="calc(40% - 20px)" >

    <img class="course-card-img" mat-card-image src="{{ course.imgSrc }}" alt="Photo of couse description">
    <mat-card-header>
      <mat-card-title>{{ course.label }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="course-card-content" >

      {{ getClassesString(course) }}

      <mat-slider
        [disabled]="true"
        [max]="course.status?.totalHours"
        [step]="selectorStep"
        [thumbLabel]="selectorThumbLabel"
        [value]="course.status?.watchedHours" >
      </mat-slider>

      {{ course.status?.watchedHours }} h


    </mat-card-content>
    <mat-card-footer>

    </mat-card-footer>

  </mat-card>

</div>
