<div fxFlexFill fxLayout="column" >
  <!--
  <mat-card
    fxLayoutAlign="space-between center"
    fxFlex="20"
    fxFlex.xs="30"
    style="margin: 10px;" >

  <img class="course-card-img" mat-card-avatar src="{{ userDash?.url }}" alt="User avatar">
  <mat-card-header>
    <mat-card-title>
      Olá, {{ userDash?.name }}
    </mat-card-title>
  </mat-card-header>

  <mat-card-content class="course-card-content" fxLayout="column" >

    <span>
      {{ getClassesString(userDash) }}
    </span>

    <br/>

    <div>

      <mat-progress-bar mode="determinate" [value]="valorProgressBarCourse(userDash)"></mat-progress-bar>

      <span>{{ userDash?.status?.watchedHours + ' de ' + userDash?.status?.totalHours }} horas </span>

    </div>

  </mat-card-content>

  </mat-card>

  <mat-card
    fxLayoutAlign="center center"
    style="margin: 10px;" fxFillFlex >

    <div fxFlex *ngIf="showChart" >

      <div id="chart1" echarts [options]="options" ></div>
    </div>

  </mat-card>
  -->
</div>
