.title-train-config {
  margin: 0;
}

.wizard-step {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 5px 10px;
}

.search-bar {
  width: 100%;
}

.search-bar input {
  width: 100%;
  padding: 5px;
  font-size: 1rem;
}

.manobras-grid {
  max-height: 300px;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 0.5rem;
}

.manobra-card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.2rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.manobra-card:hover {
  background-color: var(--highlight-bg);
  color: var(--highlight-text-color);
}

.manobra-checkbox {
  margin-right: 0.5rem;
  margin-top: 0.4rem;
}

.manobra-info p {
  margin: 0.2rem 0 0;
  font-size: 0.9rem;
  color: #666;
}

.selected-list {
  height: 130px;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: 40px;
  justify-content: start;
  align-items: center;
  justify-items: center;
  gap: 0.5rem;
  border-radius: 4px;
  padding: 0.1rem;
}

.selected-item {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 5px 0;
}

.selected-item button {
  background: #ff4d4d;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.3rem;
  cursor: pointer;
}

h3 {
  margin: 0;
}
