.full-height-layout {

  height: 100vh;
  width: 100%;
  // background: aqua;
  // background-color: rgb(64, 213, 0);
}

.fixed-height-header-layout {

  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background: blue;
}

.full-width-header {

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.full-height-column {

  display: flex;
  flex-grow: 1;
  margin-top: 60px;
  height: calc(100vh - 60px);
  overflow: hidden;
  background: red;
}
