.left-actions {
  display: flex;
}

.right-actions {
  display: flex;
  margin-left: auto;
}

nb-layout-header {
  background-color: #222B45; /* Cor de fundo da toolbar */
  color: white;
}

nb-action {
  margin: 0 10px;
}
