<mat-toolbar
>
  <span>Escola de Slide</span>

  <div fxLayout="column" fxLayoutAlign="center center" >
    <mat-divider [vertical]="true"></mat-divider>

    <button mat-button (click)="onClick()"
        matTooltip="Salve Skatista"
        [matTooltipPosition]="tooltipPosition"
        [matTooltipShowDelay]="tooltipShowDelay"
        [matTooltipHideDelay]="tooltipHideDelay" >
      <mat-icon>home</mat-icon>
    </button>
    <mat-divider [vertical]="true"></mat-divider>
    <button mat-button (click)="onClick()"
          matTooltip="Meus Cursos"
          [matTooltipPosition]="tooltipPosition"
          [matTooltipShowDelay]="tooltipShowDelay"
          [matTooltipHideDelay]="tooltipHideDelay" >
        <mat-icon>note_add</mat-icon>
    </button>
    <mat-divider [vertical]="true"></mat-divider>
    <button mat-button (click)="onClick()"
        matTooltip="Buscar Cursos"
        [matTooltipPosition]="tooltipPosition"
        [matTooltipShowDelay]="tooltipShowDelay"
        [matTooltipHideDelay]="tooltipHideDelay" >
      <mat-icon>find_in_page</mat-icon>
      <!--<mat-icon>search</mat-icon>-->
    </button>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between" >
  </div>
  <div fxLayout="row" >

    <mat-menu #menu="matMenu" class="menuPerfilLateral">
      <button mat-menu-item [routerLink]="['/debug']">
        <span>Preferências</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item>
        <span>Sair</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="sair()"
          matTooltip="Sair"
          [matTooltipPosition]="tooltipPosition"
          [matTooltipShowDelay]="tooltipShowDelay"
          [matTooltipHideDelay]="tooltipHideDelay">
        <span>Sair</span>
        <mat-icon>exit-to-app</mat-icon>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>


<router-outlet></router-outlet>
