<div class="layout">

  <p-toast></p-toast>

  <!-- Barra Superior -->
  <p-toolbar class="top-bar">
    <div class="p-toolbar-group-left">
      <button pButton icon="pi pi-bars" class="icon-button"></button>
      <h1 class="app-title">Vamo Dale Skate</h1>
    </div>
    <div class="p-toolbar-group-right">
      <!-- Exemplo: botões de ação -->
      <button pButton icon="pi pi-search" class="icon-button"></button>
      <button pButton icon="pi pi-bell" class="icon-button"></button>
      <button pButton icon="pi pi-palette" class="icon-button" (click)="toggleTheme()"></button>
    </div>
  </p-toolbar>

  <!-- Área de Conteúdo Principal -->
  <div class="main-content">
    <!-- Aqui você pode inserir o router-outlet ou o conteúdo dinâmico -->
    <router-outlet></router-outlet>
  </div>

  <!-- Menu Inferior -->
  <p-toolbar class="bottom-bar">
    <div class="p-toolbar-group-center">
      <button pButton icon="pi pi-home" class="bottom-bar-button icon-button"></button>
      <button pButton icon="pi pi-compass" class="bottom-bar-button icon-button"></button>
      <button pButton icon="pi pi-plus" class="bottom-bar-button icon-button"></button>
      <button pButton icon="pi pi-heart" class="bottom-bar-button icon-button"></button>
      <button pButton icon="pi pi-user" class="bottom-bar-button icon-button"></button>
    </div>
  </p-toolbar>
</div>
