
.menu-container {

  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 10px;

  width: 100%;
  height: 100%;

  margin-bottom: 0px;
}

/*
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*/

.menu-item {

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  // flex: 1 0 auto; /* Ocupa um espaço igual, mas permite encolher */
  width: 15%;

  padding: 10px; /* Espessura interna */
  border-radius: 20px; /* Borda arredondada */

  // max-height: 40px; /* Limita a altura do item, deixando espaço para padding */
  // padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  // width: 30px;
  // margin-right: 16px; /* Espaçamento entre os cards */

  // border: 0px;
  margin-bottom: 0px;
}

// .menu-item a {
//   text-decoration: none;
//   color: #fff; /* Cor branca para o texto */
// }

// .submenu {
//   display: none;
//   position: absolute;
//   background-color: #fff;
//   top: 100%;
//   left: 0;
//   z-index: 1;
// }

// .menu-item:hover .submenu {
//   display: block;
// }

// nb-menu {


// }

// .custom-header {

//   height: 60px;
//   display: flex;
//   align-items: center;
//   padding: 0 16px; /* Ajustar o padding conforme necessário */
// }
