<p-card class="menu-container">

  <ng-container *ngFor="let item of menuItems" class="menu-item">
    <p-card>
      <p-header>
        <button class="menu-item-button" pButton type="button" label="{{ item.title }}" icon="pi pi-sun" (click)="navigateTo(item)"></button>
      </p-header>
    </p-card>
  </ng-container>

  <p-card class="menu-item">
    <p-header>
      <button class="menu-item-button" pButton type="button" label="troca" icon="pi pi-sun" (click)="changeTheme()"></button>
    </p-header>
  </p-card>

</p-card>
